<h1>customers</h1>

<% @customers.each do |customer| %>
  <ul>
  <li><%= link_to customer.name, customer %></li>
  <li><%= customer.age %></li>      
  <li><%= customer.nationality %></li>      

  </ul>

 <% end %>