<h2>customers</h2>
<h3><%= link_to 'New Customer', new_customer_path, class: "new" %></h3>

<% @customers.each do |customer| %>
  <ul>
  <li><%= link_to customer.name, customer %></li>
  <li><%= customer.age %></li>      
  <li><%= customer.nationality %></li>      
  
  </ul>

 <% end %>