/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, h3 {
  font-family: 'Rock Salt', cursive;
 }
.new, .del, .edit {
  font-family: 'Coming Soon', cursive;
}

/*main header*/
h1{
  color: darkgrey;
}
.new {
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 15px;
  border: 1px solid lightgrey;  
  background-color: blue;
  padding: 4px;
/*  box-shadow: 5px 5px hotpink;*/
}

.e{
  color: red;
}
.bay {
  color: blue;
}
.rails {
  color: red;
}
/*page header*/
h2 {
  color: grey;
}
/*input button and form*/
input[type="submit"]{
  background-color: black;
  border-style: none;
  color: white;
}
.nifty-form {
  color: black;
}
li {
  color: black;
}

.del, .edit {
  padding: 3px;
  text-decoration: none;
  display: inline-block;
  background-color: red;
  color: white;
  font-size: 13px;
}
.edit {
  background-color: deeppink;
}
